<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.tacomall.db.mapper.admin.AdminUserMapper">

    <resultMap id="adminUser" type="store.tacomall.db.entity.admin.AdminUser">
        <id property="id" column="id"></id>
        <association property="role" column="auth_role_id" select="store.tacomall.db.mapper.admin.AdminAuthRoleMapper.getAuthRole"></association>
        <collection property="rule" column="auth_role_id" select="store.tacomall.db.mapper.admin.AdminAuthRuleMapper.getAuthRuleByRoleId"></collection>
    </resultMap>

    <select id="getAdminUser" resultMap="adminUser">
        SELECT *
        FROM admin_user au
        WHERE au.id = #{id}
    </select>

</mapper>