<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.tacomall.db.mapper.order.OrderMapper">

    <resultMap id="order" type="store.tacomall.db.entity.order.Order">
        <id property="id" column="id"></id>
        <association property="orderMappingGoodsItem" column="id" select="store.tacomall.db.mapper.order.OrderMappingGoodsItemMapper.getOrderMappingGoodsItemsById"></association>
    </resultMap>

    <select id="getOrder" resultMap="order">
        SELECT *
        FROM `order`
        ${ew.customSqlSegment}
    </select>

    <select id="getOrderPage" resultMap="order">
        SELECT *
        FROM `order`
        ${ew.customSqlSegment}
    </select>


</mapper>