<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.tacomall.db.mapper.admin.AdminAuthRuleMapper">

    <resultMap id="authRule" type="store.tacomall.db.entity.admin.AdminAuthRule">
        <id property="id" column="id"></id>
        <collection property="view" column="id" select="store.tacomall.db.mapper.admin.AdminAuthRuleViewMapper.getAuthRuleView"></collection>
    </resultMap>

    <select id="getAuthRuleByRoleId" resultMap="authRule">
        SELECT aar.id, aar.name
        FROM admin_auth_role_mapping_rule aarmr
        LEFT JOIN admin_auth_rule aar
        ON aarmr.rule_id = aar.id
        WHERE aarmr.id = #{id}
    </select>

</mapper>