<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.tacomall.common.db.mapper.merchant.MerchantMapper">

    <resultMap id="merchant" type="store.tacomall.common.db.entity.merchant.Merchant">
        <id property="id" column="id"></id>
    </resultMap>


    <select id="getMerchantByGoodsItemId" resultMap="merchant">
        SELECT m.*
        FROM goods_item gi
        LEFT JOIN goods as g
        ON gi.goods_id = g.id
        LEFT JOIN merchant m
        ON g.merchant_id = m.id
        WHERE gi.id = ${goodsItemId}
    </select>

</mapper>